{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to MyApp!</h1>
    <p class="lead">This is the main page for nickGuaman.</p>
    <hr class="my-4">
    <p>Explore the features and pricing of our application.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="example-wrapper">
    <h2>Controller Information</h2>
    <ul>
        <li>Your controller is located at <code>/home/ubuntu00/nick/appPuertaVentura/syPuertaventura/appPuertaVentura/src/Controller/Web/MainController.php</code></li>
        <li>Your template is located at <code>/home/ubuntu00/nick/appPuertaVentura/syPuertaventura/appPuertaVentura/templates/web/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
